<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KamarTaj- Viajes Extraordinarios</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="stylesheet" href="../style/bootstrap.min.css">
</head>

<body>
	<!---Empieza Navbar-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="../index.html">
				<img src="../Img/logo.jpg" alt="logo de KamarTaj viajes diferentes" class="imagineSize">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page"
							href="../views/historia y recorrido.html">Historia y
							Recorridos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../views/consideraciones.html">Consideraciones</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../views/contactanos.html">Contactanos</a>
					</li>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!---Termina Navbar-->
	<main>
		<section>
			<img src="../img/Paquete.png" alt="Imagen de la pagina paquetes">
		</section>
		<div class="bodyImg">
		<section class="grid-imagen">
			<div class="boxBorder">
				<h1 class="bgDarkSize"> Expediciones y paquetes armados</h1>
				<p class="pSize"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="boxBorder">
				<h3 class="bgDarkSize">Armado de tu aventura</h3>
				<p class="pSize">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</section>
		</div>
	</main>
	<footer>
		<div>
			<a href="https://www.facebook.com/" target="_blank"> <img src="../img/facebook.png" class="pieInde"></a>
			<a href="https://www.twitter.com/" target="_blank"><img src="../img/twitter.png" class="pieInde"></a>
			<a href="https://www.instagram.com/" target="_blank" class="pieIcon"><img src="../img/instagram.png"
					class="pieInde"></a>
		</div>

		<div class="pieIndex">
			<strong>
				Direccion: Av. Rivadavia 380
				Cordoba
				Cordoba- Argentina
			</strong>
			<strong>
				Informacion:
				(0351) 155678954
				Karma@travel.com
			</strong>
		</div>
		</section>
	</footer>
	<script src="../js/bootstrap.min.js"></script>
</body>

</html>